<!-- The header file -->
<!doctype html>
<html>
    <head>
        <title>
            PC Match.com
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel="stylesheet" https="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
      <div class="ui container">
        <div class="ui huge menu">
          <a class="active item" href="/">
            Home
          </a>
          <a class="item" href="/catalogue">
            PC's
          </a>
          <a class="item" href="/catalogue">
              PC Parts
          </a>
          <a class="item" href="/order/custom">
              Custom Order
          </a>
          <div class="right menu">
            <% if(!currentUser){  %>
            <div class="item">
                <a href="/register"><div class="ui primary button" >Sign Up</div></a>
            </div>
            <div class="item">
              <a href="/login"><div class="ui primary button">Login</div></a>
            </div>
          <%  }else{  %>
            <a class="item" href="/admin">
              Admin Panel
          </a>
          <div class="item">
            <div>Signed in as <%= currentUser.username %></div> 
          </div>
          <div class="item">
            <a href="/logout"><div class="ui primary button">Logout</div></a>
          </div>
          <% } %>
          </div>

        </div>

      </div>