
<%- include("partials/header") %>
    

    <div class="ui container">
        <div class="ui grid">
            <div class="sixteen wide column">
                <img class = "ui fluid image" src="https://t3.ftcdn.net/jpg/03/82/08/32/240_F_382083240_HZz9ZrXQ1lJplwD57JCyk5KtPv6Zr7Gz.jpg" style="height:400px">
            </div>
          </div>
      <!-- Cards -->
      <div class="ui special cards" style="padding-left:100px">
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button">Show Products</div>
                </div>
              </div>
            </div>
            <img src="https://image.shutterstock.com/image-photo/desktop-computer-keyboard-mouse-on-600w-224908105.jpg">
          </div>
          <div class="content">
            <a class="header">PC Builds!</a>

          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Most Popular!
            </a>
          </div>
        </div>
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui inverted dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui primary button">View Products</div>
                </div>
              </div>
            </div>
            <img src="https://previews.123rf.com/images/trodler/trodler1701/trodler170100004/70832704-pc-hardware-components-on-white-wood-3d-rendering.jpg">
          </div>
          <div class="content">
            <a class="header">PC Parts</a>

          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Best Pricing
            </a>
          </div>
        </div>
        <div class="card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Build Now!</div>
                  </div>
                </div>
              </div>
              <img src="https://previews.123rf.com/images/elnur/elnur1903/elnur190301959/118107337-young-male-contractor-repairing-computer.jpg">
            </div>
            <div class="content">
              <a class="header">Custom PC Builds</a>
  
            </div>
            <div class="extra content">
              <a>
                <i class="users icon"></i>
                Most Popular!
              </a>
            </div>
          </div>
      </div>

      <%- include("partials/footer") %>
