
<%- include("partials/header") %>


    <div class="ui container">

      <img src="./Photos/aryan-dhiman-iGLLtLINSkw-unsplash.jpg" class="img-fluid" alt="Responsive image" style="height:400px;width:100%">
      <hr>
      <img src="./Photos/black-friday-1898114_1920.jpg" class="img-fluid" alt="Responsive image" style= "height:200px;width:100%">
      <!-- Cards -->
      <div class="ui special cards" style="padding-left:100px">
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui inverted button">Show Products</div>
                </div>
              </div>
            </div>
            <img src="./Photos/niclas-illg-wzVQp_NRIHg-unsplash.jpg" style="height: 250px;">
          </div>
          <div class="content">
            <a class="header">PC Builds!</a>

          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Most Popular!
            </a>
          </div>
        </div>
        <div class="card">
          <div class="blurring dimmable image">
            <div class="ui inverted dimmer">
              <div class="content">
                <div class="center">
                  <div class="ui primary button">View Products</div>
                </div>
              </div>
            </div>
            <img src="./Photos/bantersnaps-HppxuysEEeI-unsplash.jpg" style="height: 250px;">
          </div>
          <div class="content">
            <a class="header">PC Parts</a>

          </div>
          <div class="extra content">
            <a>
              <i class="users icon"></i>
              Best Pricing
            </a>
          </div>
        </div>
        <div class="card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Build Now!</div>
                  </div>
                </div>
              </div>
              <img src="./Photos/lawrence-sXQ-yimxgCg-unsplash.jpg" style="height: 250px;">
            </div>
            <div class="content">
              <a class="header">Custom PC Builds</a>
  
            </div>
            <div class="extra content">
              <a>
                <i class="users icon"></i>
                Most Popular!
              </a>
            </div>
          </div>
      </div>

      <%- include("partials/footer") %>
